.hobbies {
  /* padding: 2rem; */
  font-family: "Manrope", sans-serif;
  background-color: var(--color-dark--1);
}

.hero {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  background-image: url("/hobbies1.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  padding: 2rem;
  color: #fff;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero div h2 {
  font-size: 3rem;
  color: #fff;
  padding: 0;
  margin: 0;
}

.hero div p {
  font-size: 1.4rem;
  color: #fff;
  line-height: 1.6;
}

.heroImage {
  width: 30%;
  border-radius: 10px;
  object-fit: cover;
}

.heroContent {
  z-index: 2; /* Keep content above the overlay */
  max-width: 800px;
}

.hobbyGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
  padding: 2rem;
}

.hobbyCard {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 1rem;
  cursor: pointer;
}

.hobbyCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.hobbyImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.hobbyCard h3 {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: #333;
}

.hobbyCard p {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.5;
}

.footer {
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.copyright p {
  margin: 0;
  font-size: 0.9rem;
}
